In [19]:
import geopandas as gpd
import pandas as pd

In [24]:
res = []
for city in [
    "Braga",
    "Camden",
    "Cugir",
    "Kozani",
    "Lambeth",
    "Milan_metropolitan",
    "Riga",
    "Westminster",
    "Zaragoza",
]:
    print(city)
    poly = gpd.read_file(f"../data/processed/1_cities_boundaries/{city}.gpkg")
    poly = poly.to_crs(poly.estimate_utm_crs())
    streets = gpd.read_file(f"../data/processed/{city}/{city}_graph_2_dense.gpkg", layer="edges")
    streets = streets.to_crs(streets.estimate_utm_crs())
    amenities = gpd.read_file(f"../data/processed/{city}/{city}_features_3_dense.gpkg")
    res.append(
        [
            city,
            round(poly.geometry[0].area / 1000000, 1),
            len(streets),
            round(streets.geometry.length.sum() / 1000),
            round(streets[streets["pedestrian_infrastructure"] == "True"].geometry.length.sum() / 1000),
            round(streets[streets["cycling_infrastructure"] == "True"].geometry.length.sum() / 1000),
            len(amenities[amenities["type"] == "shop"]),
            len(amenities[amenities["type"] == "crossing"]),
            len(amenities[amenities["type"] == "traffic_signals"]),
        ]
    )
df = pd.DataFrame(
    data=res,
    columns=[
        "Cityname",
        "Area (km2)",
        "Number of edges",
        "Total road length (km)",
        "Pedestrian road length (km)",
        "Cycling road length (km)",
        "Number of shops",
        "Number of crossings",
        "Number of traffic signals",
    ]
)

Braga
Camden
Cugir
Kozani
Lambeth
Milan_metropolitan
Riga
Westminster
Zaragoza

In [25]:
df

,Cityname,Area (km2),Number of edges,Total road length (km),Pedestrian road length (km),Cycling road length (km),Number of shops,Number of crossings,Number of traffic signals
0,Braga,183.3,31344,2132,431,25,1107,2513,51
1,Camden,21.8,24881,793,367,44,2143,2523,698
2,Cugir,327.4,1770,577,66,2,17,84,0
3,Kozani,4.7,4109,160,15,0,113,570,23
4,Lambeth,27.3,29882,1102,535,27,1444,3058,770
5,Milan_metropolitan,1393.7,243689,16091,2270,1158,6433,25224,1559
6,Riga,304.1,182895,6815,2888,149,5485,5044,594
7,Westminster,22.0,32508,1032,548,32,3930,3796,1275
8,Zaragoza,974.2,80453,5898,1401,207,4119,7768,1031

In [26]:
df.to_csv("../data/processed/general_statistics.csv")